In [12]:
import pandas as pd

In [13]:
df = pd.read_excel("../../Corpus/Morpologies/Dataset for MAnalyzer/FullSet/MA Dataset Person Names.xlsx")

In [14]:
dataFrame = df

In [15]:
dataFrame.head(5)

         Sinhala          Tamil
0  සම්මුන්කුඩ්ඩි  சம்மூன்குட்டி
1   කුලන්තයුම්මා  குழந்தையும்மா
2         ඉලන්කෝ         இளங்கோ
3        තනුරාජ්        தனுராஜ்
4       කතිරාමන්       கதிராமன்

In [16]:
len(dataFrame)

92096

In [17]:
dataFrame.tail(5)

         Sinhala      Tamil
92091     බතියගේ     பதியகே
92092   ප්‍රමෝධා    பிரமோதா
92093  දිල්ශාන්ත  தில்ஸாந்த
92094       හටන්     ஹட்டன்
92095   සාරා ංගී    சாரங்கி

In [18]:
dataFrame.dropna(subset=['Sinhala'], inplace=True)
dataFrame.dropna(subset=['Tamil'], inplace=True)

In [19]:
lastLetter = ['்', 'ா', 'ி', 'ீ', 'ு', 'ூ', 'ெ', 'ே', 'ை', 'ொ', 'ோ', 'ௌ']

In [20]:
def lastCharacterDetails(namedEntity):
    if(namedEntity[-1] in lastLetter):
        namedEntity = namedEntity[:-1]
    else:
        namedEntity = namedEntity
    return namedEntity

In [21]:
def addMorpologyTamil(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):     #################  ගේ
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ின்'
        elif(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யின்'
        else:
            namedEntity = (rootNamedEntity) + 'வின்' 
    elif(tag==2):     #################  ගෙන්
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ிடமிருந்து'
        elif(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடமிருந்து'
        else:
            namedEntity = (rootNamedEntity) + 'விடமிருந்து' 
#    elif(tag==3):     #################  සිට
#        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
#            namedEntity = rootNamedEntity + 'யிலிருந்து'
#        else:
#            namedEntity = (rootNamedEntity) + 'ிலிருந்து' 
    elif(tag==4):     #################  ගේ
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ினது'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யினது'
        elif(rootNamedEntity[-1] == 'ா'):
            namedEntity = (rootNamedEntity) + 'வினது'
        else:
            namedEntity = rootNamedEntity + 'வினது'
    elif(tag==5):     #################  ළග
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ிடம்'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடம்'
        else:
            namedEntity = (rootNamedEntity) + 'விடம்' 
#    elif(tag==6):     #################  !
 #       if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
  #          namedEntity = rootNamedEntity + 'யே'
   #     else:
    #        namedEntity = (rootNamedEntity) + 'ே' 
    elif(tag==7):     #################  ද!
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ோ'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோ'
        else:
            namedEntity = (rootNamedEntity) + 'வோ' 
    elif(tag==8):     #################  විසින්
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ால்'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யால்'
        else:
            namedEntity = (rootNamedEntity) + 'வால்' 
    elif(tag==9):     #################  සමග
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ுடன்'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யுடன்'
        else:
            namedEntity = (rootNamedEntity) + 'வுடன்' 
    elif(tag==10):     #################  සමග
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ோடு'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோடு'
        else:
            namedEntity = (rootNamedEntity) + 'வோடு' 
    elif(tag==11):     #################  ව
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ை'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யை'
        else:
            namedEntity = (rootNamedEntity) + 'வை'
    elif(tag==12):     #################  ට
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ுக்கு'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'க்கு'
        else:
            namedEntity = (rootNamedEntity) + 'வுக்கு'
    elif(tag==20):     #################  
        namedEntity = rootNamedEntity 
 #   else:
  #      namedEntity = rootNamedEntity
    return namedEntity

In [22]:
def addMorpologySinhala(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==2):
        namedEntity = rootNamedEntity + 'ගෙන්'
#    elif(tag==3):
#        namedEntity = rootNamedEntity + ' සිට'
    elif(tag==4):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==5):
        namedEntity = rootNamedEntity + ' ළග'
#    elif(tag==6):
 #       namedEntity = rootNamedEntity + '!'
    elif(tag==7):
        namedEntity = rootNamedEntity + ' ද!'
    elif(tag==8):
        namedEntity = rootNamedEntity + ' විසින්'
    elif(tag==9):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==10):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==11):
        namedEntity = rootNamedEntity + 'ව'
    elif(tag==12):
        namedEntity = rootNamedEntity + 'ට'
    elif(tag==20):
        namedEntity = rootNamedEntity
  #  else:
   #     namedEntity = rootNamedEntity
    return namedEntity

In [23]:
sinhalaVariations = []
tamilVariations = []

In [24]:
for index, raw in dataFrame.iterrows():
    sinhalaBuffer = [raw['Sinhala']]
    tamilBuffer = [raw['Tamil']]
    mixedBuffer = []
    for tag in range(1, 13):
        if(tag == 3 or tag == 6):
            continue
        sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
        tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
   #     mixedBuffer.append(sinhalaMorpology)
    #    mixedBuffer.append(tamilMorpology)
        sinhalaBuffer.append(sinhalaMorpology)
        tamilBuffer.append(tamilMorpology)
    #print(sinhalaBuffer)
    #print(tamilBuffer)
 #   mixedVariations
    sinhalaVariations.extend(sinhalaBuffer)
    tamilVariations.extend(tamilBuffer)

In [26]:
print(len(sinhalaVariations))
print(len(tamilVariations))

1013045
1013045

In [27]:
sinhalaSeries = pd.Series(sinhalaVariations, name="Sinhala")
tamilSeries = pd.Series(tamilVariations, name="Tamil")

In [28]:
data = pd.DataFrame({'Sinhala':sinhalaSeries, 'Tamil':tamilSeries})

In [29]:
data.head()

             Sinhala                     Tamil
0      සම්මුන්කුඩ්ඩි             சம்மூன்குட்டி
1    සම්මුන්කුඩ්ඩිගේ         சம்மூன்குட்டியின்
2  සම්මුන්කුඩ්ඩිගෙන්  சம்மூன்குட்டியிடமிருந்து
3    සම්මුන්කුඩ්ඩිගේ        சம்மூன்குட்டியினது
4   සම්මුන්කුඩ්ඩි ළග        சம்மூன்குட்டியிடம்

In [30]:
export_excel = data.to_excel('../../Corpus/Morpologies/Morpologies_All.xlsx', index = None, header=True)