In [11]:
import pandas as pd

In [12]:
df = pd.read_excel("../Corpus/Morpologies/Dataset for MAnalyzer/Morpologies_filtered_new.xlsx")

In [13]:
dataFrame = df

In [14]:
dataFrame.head(5)

   Sinhala    Tamil
0   දසනායක   தசநாயக
1  ලක්ෂිකා  லக்ஷிகா
2   දිල්කි   தில்கி
3    සක්කී    சக்கி
4   වන්නකු   வன்னகு

In [15]:
dataFrame.dropna(subset=['Sinhala'], inplace=True)
dataFrame.dropna(subset=['Tamil'], inplace=True)

In [16]:
dataF = dataFrame

In [13]:
selected_si = []
selected_ta = []
for index, raw in dataF.iterrows():
    #if(len(raw['Sinhala'].strip())>1 and len(raw['Tamil'].strip())>1):
    raw_si = raw['Sinhala'].strip().split()
    raw_ta = raw['Tamil'].strip().split()
   # print(raw_si)
   # print(raw_ta)
    if(len(raw_si) == len(raw_ta)):
       # if(len(raw_si[-1])>1 and len(raw_ta[-1])>1):
        for x in range(len(raw_si)-1, 0, -1):
           # print(x)
            if (len(raw_si[x]) > 5 and len(raw_ta[x]) > 5):
                #dataF.drop(raw, axis = 1, inplace = True)
                selected_si.append(raw_si[x])
                selected_ta.append(raw_ta[x])
                break

In [14]:
#print(selected_si)
#print(selected_ta)

In [15]:
si_series = pd.Series(selected_si, name="Sinhala")
ta_series = pd.Series(selected_ta, name="Tamil")

In [16]:
da = pd.DataFrame({'Sinhala':si_series, 'Tamil':ta_series})

In [17]:
da.head()

        Sinhala          Tamil
0  කුලන්තයුම්මා  குழந்தையும்மா
1       තනුරාජ්        தனுராஜ்
2       ඥානම්මා        ஞானம்மா
3        දසනායක         தசநாயக
4      පූර්නිමා       பூர்னிமா

In [30]:
dataFrame = da

In [31]:
def addMorpologyTamil(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):     #################  ගේ
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யின்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ின்' 
    elif(tag==2):     #################  ගෙන්
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யில்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ில்' 
    elif(tag==3):     #################  සිට
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிலிருந்து'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ிலிருந்து' 
    elif(tag==4):     #################  ගේ
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யினது'
        elif(rootNamedEntity[-1] == 'ா'):
            namedEntity = rootNamedEntity[:-1] + 'வினது'
        else:
            namedEntity = rootNamedEntity + 'து'
    elif(tag==5):     #################  ළග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடம்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'விடம்' 
    elif(tag==6):     #################  !
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யே'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ே' 
    elif(tag==7):     #################  ද!
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோ'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ோ' 
    elif(tag==8):     #################  විසින්
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யால்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ால்' 
    elif(tag==9):     #################  සමග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யுடன்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ுடன்' 
    elif(tag==10):     #################  සමග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோடு'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ோடு' 
    elif(tag==11):     #################  ව
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யை'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ை'
    elif(tag==12):     #################  ට
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'க்கு'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ுக்கு'
    elif(tag==20):     #################  
        namedEntity = rootNamedEntity 
 #   else:
  #      namedEntity = rootNamedEntity
    return namedEntity

In [32]:
def addMorpologySinhala(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==2):
        namedEntity = rootNamedEntity + 'ගෙන්'
    elif(tag==3):
        namedEntity = rootNamedEntity + ' සිට'
    elif(tag==4):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==5):
        namedEntity = rootNamedEntity + ' ළග'
    elif(tag==6):
        namedEntity = rootNamedEntity + '!'
    elif(tag==7):
        namedEntity = rootNamedEntity + ' ද!'
    elif(tag==8):
        namedEntity = rootNamedEntity + ' විසින්'
    elif(tag==9):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==10):
        namedEntity = rootNamedEntity + 'සමග'
    elif(tag==11):
        namedEntity = rootNamedEntity + 'ව'
    elif(tag==12):
        namedEntity = rootNamedEntity + 'ට'
    elif(tag==20):
        namedEntity = rootNamedEntity
  #  else:
   #     namedEntity = rootNamedEntity
    return namedEntity

In [33]:
lis = ['ி', 'ை', '்', 'ீ', 'ு', 'ூ', 'ெ', 'ே', 'ொ', 'ோ', 'ௌ']
lis2 = ['க', 'ச', 'ட', 'ண', 'ந', 'த', 'ப', 'ம', 'ய', 'ர', 'ல', 'வ', 'ள', 'ற']

In [34]:
sinhalaVariations = []
tamilVariations = []

bound = 2

In [35]:
for i in lis:
    count = 1
    for index, raw in dataFrame.iterrows():
        if(raw['Tamil'][-1] == i):
            sinhalaBuffer = [raw['Sinhala']]
            tamilBuffer = [raw['Tamil']]
            mixedBuffer = []
            for tag in range(1, 14):
                if(tag == 13):
                    tag = 20
                sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
                tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
           #     mixedBuffer.append(sinhalaMorpology)
            #    mixedBuffer.append(tamilMorpology)
                sinhalaBuffer.append(sinhalaMorpology)
                tamilBuffer.append(tamilMorpology)
            #print(sinhalaBuffer)
            #print(tamilBuffer)
         #   mixedVariations
            sinhalaVariations.extend(sinhalaBuffer)
            tamilVariations.extend(tamilBuffer)
            count += 1
            if(count == bound) :
                break

In [36]:
print(len(sinhalaVariations))
print(len(tamilVariations))

140
140

In [37]:
for i in lis2:
    count = 1
    for index, raw in dataFrame.iterrows():
        try:
            if(raw['Tamil'][-1] == i):
               # print(raw['Tamil'])
               # print(raw['Sinhala'])
                sinhalaBuffer = [raw['Sinhala']]
                tamilBuffer = [raw['Tamil']]
                mixedBuffer = []
                for tag in range(1, 14):
                    if(tag == 13):
                        tag = 20
                    sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
                    tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
               #     mixedBuffer.append(sinhalaMorpology)
                #    mixedBuffer.append(tamilMorpology)
                    sinhalaBuffer.append(sinhalaMorpology)
                    tamilBuffer.append(tamilMorpology)
                #print(sinhalaBuffer)
                #print(tamilBuffer)
             #   mixedVariations
                sinhalaVariations.extend(sinhalaBuffer)
                tamilVariations.extend(tamilBuffer)
                #------------
                count += 1
                if(count == bound) :
                    break
            elif(raw['Tamil'][-2] == i):
              #  print(raw['Tamil'])
              #  print(raw['Sinhala'])
                sinhalaBuffer = [raw['Sinhala']]
                tamilBuffer = [raw['Tamil']]
                mixedBuffer = []
                for tag in range(1, 14):
                    if(tag == 13):
                        tag = 20
                    sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
                    tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
               #     mixedBuffer.append(sinhalaMorpology)
                #    mixedBuffer.append(tamilMorpology)
                    sinhalaBuffer.append(sinhalaMorpology)
                    tamilBuffer.append(tamilMorpology)
                #print(sinhalaBuffer)
                #print(tamilBuffer)
             #   mixedVariations
                sinhalaVariations.extend(sinhalaBuffer)
                tamilVariations.extend(tamilBuffer)
                #------------
                count += 1
                if(count == bound) :
                    break
        except:
            p = 1

In [38]:
print(len(sinhalaVariations))
print(len(tamilVariations))

336
336

In [39]:
sinhalaSeries = pd.Series(sinhalaVariations, name="Sinhala")
tamilSeries = pd.Series(tamilVariations, name="Tamil")

In [40]:
data = pd.DataFrame({'Sinhala':sinhalaSeries, 'Tamil':tamilSeries})

In [41]:
data.head()

      Sinhala              Tamil
0      හංසිනි            ஹன்சினி
1    හංසිනිගේ        ஹன்சினியின்
2  හංසිනිගෙන්        ஹன்சினியில்
3  හංසිනි සිට  ஹன்சினியிலிருந்து
4    හංසිනිගේ       ஹன்சினியினது

In [42]:
export_excel = data.to_excel('../Corpus/Morpologies/Morpologies_filtered.xlsx', index = None, header=True)