In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../../Corpus/Morpologies/Dataset for MAnalyzer/Morpologies_filtered_new.xlsx")

In [3]:
dataFrame = df

In [4]:
dataFrame.head(5)

   Sinhala    Tamil
0   දසනායක   தசநாயக
1  ලක්ෂිකා  லக்ஷிகா
2   දිල්කි   தில்கி
3    සක්කී    சக்கி
4   වන්නකු   வன்னகு

In [5]:
dataFrame.dropna(subset=['Sinhala'], inplace=True)
dataFrame.dropna(subset=['Tamil'], inplace=True)

In [6]:
lastLetter = ['்', 'ா', 'ி', 'ீ', 'ு', 'ூ', 'ெ', 'ே', 'ை', 'ொ', 'ோ', 'ௌ']

In [7]:
def lastCharacterDetails(namedEntity):
    if(namedEntity[-1] in lastLetter):
        namedEntity = namedEntity[:-1]
    else:
        namedEntity = namedEntity
    return namedEntity

In [8]:
def addMorpologyTamil(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):     #################  ගේ
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யின்'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ின்' 
    elif(tag==2):     #################  ගෙන්
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யில்'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ில்' 
#    elif(tag==3):     #################  සිට
#        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
#            namedEntity = rootNamedEntity + 'யிலிருந்து'
#        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ிலிருந்து' 
    elif(tag==4):     #################  ගේ
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யினது'
        elif(rootNamedEntity[-1] == 'ா'):
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'வினது'
        else:
            namedEntity = rootNamedEntity + 'து'
    elif(tag==5):     #################  ළග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடம்'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'விடம்' 
    elif(tag==6):     #################  !
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யே'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ே' 
    elif(tag==7):     #################  ද!
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோ'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ோ' 
    elif(tag==8):     #################  විසින්
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யால்'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ால்' 
    elif(tag==9):     #################  සමග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யுடன்'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ுடன்' 
    elif(tag==10):     #################  සමග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோடு'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ோடு' 
    elif(tag==11):     #################  ව
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யை'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ை'
    elif(tag==12):     #################  ට
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'க்கு'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ுக்கு'
    elif(tag==20):     #################  
        namedEntity = rootNamedEntity 
 #   else:
  #      namedEntity = rootNamedEntity
    return namedEntity

In [9]:
def addMorpologySinhala(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==2):
        namedEntity = rootNamedEntity + 'ගෙන්'
#    elif(tag==3):
#        namedEntity = rootNamedEntity + ' සිට'
    elif(tag==4):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==5):
        namedEntity = rootNamedEntity + ' ළග'
    elif(tag==6):
        namedEntity = rootNamedEntity + '!'
    elif(tag==7):
        namedEntity = rootNamedEntity + ' ද!'
    elif(tag==8):
        namedEntity = rootNamedEntity + ' විසින්'
    elif(tag==9):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==10):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==11):
        namedEntity = rootNamedEntity + 'ව'
    elif(tag==12):
        namedEntity = rootNamedEntity + 'ට'
    elif(tag==20):
        namedEntity = rootNamedEntity
  #  else:
   #     namedEntity = rootNamedEntity
    return namedEntity

In [10]:
sinhalaVariations = []
tamilVariations = []

In [11]:
for index, raw in dataFrame.iterrows():
    sinhalaBuffer = [raw['Sinhala']]
    tamilBuffer = [raw['Tamil']]
    mixedBuffer = []
    for tag in range(1, 13):
        if(tag == 3):
            continue
        sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
        tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
   #     mixedBuffer.append(sinhalaMorpology)
    #    mixedBuffer.append(tamilMorpology)
        sinhalaBuffer.append(sinhalaMorpology)
        tamilBuffer.append(tamilMorpology)
    #print(sinhalaBuffer)
    #print(tamilBuffer)
 #   mixedVariations
    sinhalaVariations.extend(sinhalaBuffer)
    tamilVariations.extend(tamilBuffer)

In [12]:
print(len(sinhalaVariations))
print(len(tamilVariations))

2676
2676

In [13]:
sinhalaSeries = pd.Series(sinhalaVariations, name="Sinhala")
tamilSeries = pd.Series(tamilVariations, name="Tamil")

In [14]:
data = pd.DataFrame({'Sinhala':sinhalaSeries, 'Tamil':tamilSeries})

In [15]:
data.head()

      Sinhala            Tamil
0      දසනායක           தசநாயக
1    දසනායකගේ        தசநாயகின்
2  දසනායකගෙන්  தசநாயகிலிருந்து
3    දසනායකගේ         தசநாயகது
4   දසනායක ළග      தசநாயகவிடம்

In [16]:
export_excel = data.to_excel('../../Corpus/Morpologies/Morpologies_filtered_new.xlsx', index = None, header=True)