In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("location_names_cleaned_unique.xlsx")

In [3]:
dataFrame = df

In [4]:
dataFrame.head(5)

               Sinhala                  Tamil
0  සීනෝර් නිවාස ක්‍රමය  சீநோர் வீட்டு திட்டம்
1            කලුවන්කෙන             களுவன்கேணி
2             චෙන්කලඩ්               செங்கலடி
3  සුනාමි නිවාස ක්‍රමය  சுனாமி வீட்டு திட்டம்
4           කලුවන්කෙනි             களுவன்கேணி

In [5]:
len(dataFrame)

74511

In [6]:
dataFrame.tail(5)

             Sinhala         Tamil
74506   ෛඑයංකන්කුලම්  ஐயங்கண்குளம்
74507  ෛඑයන්කන්කුලම්  ஐயன்கன்குளம்
74508   ෛඑයන්කන්වෙලි   ஐயன்கன்வெளி
74509  ෛඑයන්පෙරුමාල්  ஐயன்பெருமாள்
74510  ෛඑයම්පෙරුමාල්  ஐயம்பெருமால்

In [7]:
dataFrame.dropna(subset=['Sinhala'], inplace=True)
dataFrame.dropna(subset=['Tamil'], inplace=True)

In [8]:
lastLetter = ['்', 'ா', 'ி', 'ீ', 'ு', 'ூ', 'ெ', 'ே', 'ை', 'ொ', 'ோ', 'ௌ']

In [9]:
def lastCharacterDetails(namedEntity):
    if(namedEntity[-1] in lastLetter):
        namedEntity = namedEntity[:-1]
    else:
        namedEntity = namedEntity
    return namedEntity

In [10]:
def addMorpologyTamil(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):     #################  ගේ
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ின்'
        elif(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யின்'
        else:
            namedEntity = (rootNamedEntity) + 'வின்' 
    elif(tag==2):     #################  ගෙන්
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ிடமிருந்து'
        elif(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடமிருந்து'
        else:
            namedEntity = (rootNamedEntity) + 'விடமிருந்து' 
#    elif(tag==3):     #################  සිට
#        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
#            namedEntity = rootNamedEntity + 'யிலிருந்து'
#        else:
#            namedEntity = (rootNamedEntity) + 'ிலிருந்து' 
    elif(tag==4):     #################  ගේ
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ினது'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யினது'
        elif(rootNamedEntity[-1] == 'ா'):
            namedEntity = (rootNamedEntity) + 'வினது'
        else:
            namedEntity = rootNamedEntity + 'வினது'
    elif(tag==5):     #################  ළග
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ிடம்'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடம்'
        else:
            namedEntity = (rootNamedEntity) + 'விடம்' 
#    elif(tag==6):     #################  !
 #       if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
  #          namedEntity = rootNamedEntity + 'யே'
   #     else:
    #        namedEntity = (rootNamedEntity) + 'ே' 
    elif(tag==7):     #################  ද!
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ோ'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோ'
        else:
            namedEntity = (rootNamedEntity) + 'வோ' 
    elif(tag==8):     #################  විසින්
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ால்'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யால்'
        else:
            namedEntity = (rootNamedEntity) + 'வால்' 
    elif(tag==9):     #################  සමග
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ுடன்'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யுடன்'
        else:
            namedEntity = (rootNamedEntity) + 'வுடன்' 
    elif(tag==10):     #################  සමග
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ோடு'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோடு'
        else:
            namedEntity = (rootNamedEntity) + 'வோடு' 
    elif(tag==11):     #################  ව
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ை'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யை'
        else:
            namedEntity = (rootNamedEntity) + 'வை'
    elif(tag==12):     #################  ට
        if(rootNamedEntity[-1]=='்'):
            namedEntity = rootNamedEntity[:-1] + 'ுக்கு'
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'க்கு'
        else:
            namedEntity = (rootNamedEntity) + 'வுக்கு'
    elif(tag==20):     #################  
        namedEntity = rootNamedEntity 
 #   else:
  #      namedEntity = rootNamedEntity
    return namedEntity

In [11]:
def addMorpologySinhala(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==2):
        namedEntity = rootNamedEntity + 'ගෙන්'
#    elif(tag==3):
#        namedEntity = rootNamedEntity + ' සිට'
    elif(tag==4):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==5):
        namedEntity = rootNamedEntity + ' ළග'
#    elif(tag==6):
 #       namedEntity = rootNamedEntity + '!'
    elif(tag==7):
        namedEntity = rootNamedEntity + ' ද!'
    elif(tag==8):
        namedEntity = rootNamedEntity + ' විසින්'
    elif(tag==9):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==10):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==11):
        namedEntity = rootNamedEntity + 'ව'
    elif(tag==12):
        namedEntity = rootNamedEntity + 'ට'
    elif(tag==20):
        namedEntity = rootNamedEntity
  #  else:
   #     namedEntity = rootNamedEntity
    return namedEntity

In [12]:
sinhalaVariations = []
tamilVariations = []

In [13]:
for index, raw in dataFrame.iterrows():
    sinhalaBuffer = [raw['Sinhala']]
    tamilBuffer = [raw['Tamil']]
    mixedBuffer = []
    for tag in range(1, 13):
        if(tag == 3 or tag == 6):
            continue
        sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
        tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
   #     mixedBuffer.append(sinhalaMorpology)
    #    mixedBuffer.append(tamilMorpology)
        sinhalaBuffer.append(sinhalaMorpology)
        tamilBuffer.append(tamilMorpology)
    #print(sinhalaBuffer)
    #print(tamilBuffer)
 #   mixedVariations
    sinhalaVariations.extend(sinhalaBuffer)
    tamilVariations.extend(tamilBuffer)

In [14]:
print(len(sinhalaVariations))
print(len(tamilVariations))

819566
819566

In [15]:
sinhalaSeries = pd.Series(sinhalaVariations, name="Sinhala")
tamilSeries = pd.Series(tamilVariations, name="Tamil")

In [16]:
data = pd.DataFrame({'Sinhala':sinhalaSeries, 'Tamil':tamilSeries})

In [17]:
data.head()

                   Sinhala                           Tamil
0      සීනෝර් නිවාස ක්‍රමය           சீநோர் வீட்டு திட்டம்
1    සීනෝර් නිවාස ක්‍රමයගේ         சீநோர் வீட்டு திட்டமின்
2  සීනෝර් නිවාස ක්‍රමයගෙන්  சீநோர் வீட்டு திட்டமிடமிருந்து
3    සීනෝර් නිවාස ක්‍රමයගේ      சீநோர் வீட்டு திட்டம்வினது
4   සීනෝර් නිවාස ක්‍රමය ළග      சீநோர் வீட்டு திட்டம்விடம்

In [18]:
export_excel = data.to_excel('location_names_with_cases.xlsx', index = None, header=True)