In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("location_ tamil.xlsx")

In [3]:
dataFrame = df

In [4]:
dataFrame.head(5)

            Sinhala             Tamil
0        නෙල්සන්පුර        நெல்சன்புர
1      අම්පලප්පුලම්      அம்பலப்புலம்
2  සාම්පල්ත්තෝට්ටම්  சாம்பல்த்தோட்டம்
3     වඩ්ඩුකෝට්ටෙයි             வட்டு
4             අක්කර         ம் ஏக்கர்

In [5]:
dataFrame.dropna(subset=['Sinhala'], inplace=True)
dataFrame.dropna(subset=['Tamil'], inplace=True)

In [6]:
lastLetter = ['்', 'ா', 'ி', 'ீ', 'ு', 'ூ', 'ெ', 'ே', 'ை', 'ொ', 'ோ', 'ௌ']

In [7]:
def lastCharacterDetails(namedEntity):
    if(namedEntity[-1] in lastLetter):
        namedEntity = namedEntity[:-1]
    else:
        namedEntity = namedEntity
    return namedEntity

In [8]:
def addMorpologyTamil(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):     #################  සිට
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிலிருந்து'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ிலிருந்து' 
    elif(tag==2):     #################  ළග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடம்'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'விடம்'  
    elif(tag==3):     #################  ද!
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோ'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ோ' 
    elif(tag==4):     #################  ට
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'க்கு'
        else:
            namedEntity = lastCharacterDetails(rootNamedEntity) + 'ுக்கு'
    elif(tag==5):     #################  දක්වා
     #   if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
      #      namedEntity = rootNamedEntity + 'க்கு'
       # else:
        namedEntity = rootNamedEntity + 'வரை'
    elif(tag==6):     ################# ඉන්, එන් - ම
        namedEntity = rootNamedEntity + 'யில்'
    elif(tag==10):     #################  
        namedEntity = rootNamedEntity 
    return namedEntity

In [9]:
def addMorpologySinhala(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):
        namedEntity = rootNamedEntity + ' සිට' #-----
    elif(tag==2):
        namedEntity = rootNamedEntity + ' ළග' #-----
    elif(tag==3):
        namedEntity = rootNamedEntity + ' ද!' #-----
    elif(tag==4):
        namedEntity = rootNamedEntity + 'ට' #-----
    elif(tag==5):
        namedEntity = rootNamedEntity + ' දක්වා' #-----
    elif(tag==6):
        listException = ['ක', 'ල', 'ව', 'ය', 'න', 'ත', 'ග', 'ද']
        lastLetter = ['்', 'ா', 'ி', 'ீ', 'ு', 'ூ', 'ெ', 'ே', 'ை', 'ொ', 'ோ', 'ௌ']
        if(rootNamedEntity[-1] in lastLetter):
            namedEntity = rootNamedEntity + 'න්'
        elif(rootNamedEntity[-1] in listException):
            namedEntity = rootNamedEntity + 'ෙන්'
        else:
            namedEntity = rootNamedEntity + 'ින්' #-----
    elif(tag==10):
        namedEntity = rootNamedEntity
    return namedEntity

In [10]:
sinhalaVariations = []
tamilVariations = []

In [11]:
for index, raw in dataFrame.iterrows():
    sinhalaBuffer = [raw['Sinhala']]
    tamilBuffer = [raw['Tamil']]
    mixedBuffer = []
    for tag in range(1, 7):
        sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
        tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
   #     mixedBuffer.append(sinhalaMorpology)
    #    mixedBuffer.append(tamilMorpology)
        sinhalaBuffer.append(sinhalaMorpology)
        tamilBuffer.append(tamilMorpology)
    #print(sinhalaBuffer)
    #print(tamilBuffer)
 #   mixedVariations
    sinhalaVariations.extend(sinhalaBuffer)
    tamilVariations.extend(tamilBuffer)

In [12]:
print(len(sinhalaVariations))
print(len(tamilVariations))

65772
65772

In [13]:
sinhalaSeries = pd.Series(sinhalaVariations, name="Sinhala")
tamilSeries = pd.Series(tamilVariations, name="Tamil")

In [14]:
data = pd.DataFrame({'Sinhala':sinhalaSeries, 'Tamil':tamilSeries})

In [15]:
data.head()

          Sinhala                Tamil
0      නෙල්සන්පුර           நெல்சன்புர
1  නෙල්සන්පුර සිට  நெல்சன்புரிலிருந்து
2   නෙල්සන්පුර ළග      நெல்சன்புரவிடம்
3   නෙල්සන්පුර ද!          நெல்சன்புரோ
4     නෙල්සන්පුරට      நெல்சன்புருக்கு

In [16]:
export_excel = data.to_excel('locations tamil with casemarkers.xlsx', index = None, header=True)