In [17]:
import pandas as pd

In [18]:
df = pd.read_excel("../Corpus/Morpologies/Dataset for MAnalyzer/Morpologies_filtered_new.xlsx")

In [19]:
dataFrame = df

In [20]:
dataFrame.head(5)

   Sinhala    Tamil
0   දසනායක   தசநாயக
1  ලක්ෂිකා  லக்ஷிகா
2   දිල්කි   தில்கி
3    සක්කී    சக்கி
4   වන්නකු   வன்னகு

In [21]:
dataFrame.dropna(subset=['Sinhala'], inplace=True)
dataFrame.dropna(subset=['Tamil'], inplace=True)

In [ ]:
def lastCharacterDetails()

In [22]:
def addMorpologyTamil(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):     #################  ගේ
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யின்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ின்' 
    elif(tag==2):     #################  ගෙන්
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யில்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ில்' 
    elif(tag==3):     #################  සිට
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிலிருந்து'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ிலிருந்து' 
    elif(tag==4):     #################  ගේ
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யினது'
        elif(rootNamedEntity[-1] == 'ா'):
            namedEntity = rootNamedEntity[:-1] + 'வினது'
        else:
            namedEntity = rootNamedEntity + 'து'
    elif(tag==5):     #################  ළග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யிடம்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'விடம்' 
    elif(tag==6):     #################  !
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யே'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ே' 
    elif(tag==7):     #################  ද!
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோ'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ோ' 
    elif(tag==8):     #################  විසින්
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யால்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ால்' 
    elif(tag==9):     #################  සමග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யுடன்'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ுடன்' 
    elif(tag==10):     #################  සමග
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யோடு'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ோடு' 
    elif(tag==11):     #################  ව
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'யை'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ை'
    elif(tag==12):     #################  ට
        if(rootNamedEntity[-1]=='ி' or rootNamedEntity[-1]=='ை'):
            namedEntity = rootNamedEntity + 'க்கு'
        else:
            namedEntity = rootNamedEntity[:-1] + 'ுக்கு'
    elif(tag==20):     #################  
        namedEntity = rootNamedEntity 
 #   else:
  #      namedEntity = rootNamedEntity
    return namedEntity

In [23]:
def addMorpologySinhala(rootNamedEntity, tag):
    namedEntity = ''
    if(tag==1):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==2):
        namedEntity = rootNamedEntity + 'ගෙන්'
    elif(tag==3):
        namedEntity = rootNamedEntity + ' සිට'
    elif(tag==4):
        namedEntity = rootNamedEntity + 'ගේ'
    elif(tag==5):
        namedEntity = rootNamedEntity + ' ළග'
    elif(tag==6):
        namedEntity = rootNamedEntity + '!'
    elif(tag==7):
        namedEntity = rootNamedEntity + ' ද!'
    elif(tag==8):
        namedEntity = rootNamedEntity + ' විසින්'
    elif(tag==9):
        namedEntity = rootNamedEntity + ' සමග'
    elif(tag==10):
        namedEntity = rootNamedEntity + 'සමග'
    elif(tag==11):
        namedEntity = rootNamedEntity + 'ව'
    elif(tag==12):
        namedEntity = rootNamedEntity + 'ට'
    elif(tag==20):
        namedEntity = rootNamedEntity
  #  else:
   #     namedEntity = rootNamedEntity
    return namedEntity

In [24]:
sinhalaVariations = []
tamilVariations = []

In [25]:
for index, raw in dataFrame.iterrows():
    sinhalaBuffer = [raw['Sinhala']]
    tamilBuffer = [raw['Tamil']]
    mixedBuffer = []
    for tag in range(1, 14):
        if(tag == 13):
            tag = 20
        sinhalaMorpology = addMorpologySinhala(raw['Sinhala'], tag)
        tamilMorpology = addMorpologyTamil(raw['Tamil'], tag)
   #     mixedBuffer.append(sinhalaMorpology)
    #    mixedBuffer.append(tamilMorpology)
        sinhalaBuffer.append(sinhalaMorpology)
        tamilBuffer.append(tamilMorpology)
    #print(sinhalaBuffer)
    #print(tamilBuffer)
 #   mixedVariations
    sinhalaVariations.extend(sinhalaBuffer)
    tamilVariations.extend(tamilBuffer)

In [26]:
print(len(sinhalaVariations))
print(len(tamilVariations))

3122
3122

In [27]:
sinhalaSeries = pd.Series(sinhalaVariations, name="Sinhala")
tamilSeries = pd.Series(tamilVariations, name="Tamil")

In [28]:
data = pd.DataFrame({'Sinhala':sinhalaSeries, 'Tamil':tamilSeries})

In [29]:
data.head()

      Sinhala           Tamil
0      දසනායක          தசநாயக
1    දසනායකගේ        தசநாயின்
2  දසනායකගෙන්        தசநாயில்
3  දසනායක සිට  தசநாயிலிருந்து
4    දසනායකගේ        தசநாயகது

In [30]:
export_excel = data.to_excel('../Corpus/Morpologies/Morpologies_filtered_new.xlsx', index = None, header=True)